@import "../mixins/functions";
@import "../../../vendor_assets/css/bootstrap/config.bs";


@import 'page-content';

@import "../mixins/functions";
@import "../../../vendor_assets/css/bootstrap/config.bs";

html {
    font-size: 16px;
    direction: ltr;
}

a {
    transition: $transition-base;
    @extend .color-text;
}

button ,
input ,
textarea ,
select,
.form-control {
    &:focus{
      outline: none;
      box-shadow: 0 0;
    }
}

::placeholder {
    // color: $light-gray;
    opacity: 1; /* Firefox */
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 10px 0;
    font-weight: 700;
    @extend .color-text;
}

h1{
    font-size: 2.25rem
}
h2{
    font-size: 1.875
}
h3{
    font-size: 1.5rem
}
h4{
    font-size: 1.125rem;
}
h5{
    font-size: 9375rem
}
h6{
    font-size: .75rem
}

P{
    &:not(:last-child){
        margin-bottom: 1rem;
    }
}

body{
    font-size: .935rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    position: relative;
    min-height: 100vh;
    @extend .color-text;
    background-color: #fafbfe;

}
.outline-0:focus{
    outline: none;
}

.main-content{
    min-height: 100vh;
    position: relative;
}
