// Breadcrumb Css
.breadcrumb{
    a{
        @extend .color-primary;
    }
    li + li{
        &:before{
            content: "\f105" !important;
            font-weight: 900;
            font-family: "Line Awesome Free";
            color: #ced4da !important;
        }
    }
}