// Card Css
.card{
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    margin-bottom: 30px;
    h6{
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 10px;
        @extend .color-text;
    }
    p{
        font-size: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .card-body{
        @include sm{
            padding: 30px;
        }
    }
}

.card-table{
    tr{
        th,
        td{
            padding: .5rem;
        }
        th{
            @extend .color-text;
        }
        td{
            @extend .color-text;
            a{
                @extend .color-primary;
            }
        }
    }
}