// Footer Css
.footer {
    border-top: 1px solid rgba(152,166,173,.2);
    bottom: 0;
    padding: 19px 30px 20px;
    position: absolute;
    right: 0;
    color: #98a6ad;
    left: 250px;
    .footer-links{
        a{
            color: #98a6ad;
            &:hover{
                @extend .color-primary;
            }
            &:not(:last-child){
                margin-right: 25px;
            }
        }
    }
}