// Sidebar Css
.left-sidebar{
    width: 250px;
    z-index: 10;
    background: #313a46;
    bottom: 0;
    position: fixed;
    transition: all .2s ease-out;
    top: 0;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    @include md{
        transform: translateX(-250px);
        &.show{
            transform: translateX(0);
        }
    }
    .left-sidebar-menu{
        position: relative;
        .sidebar-close{
            display: none;
            position: absolute;
            right: 15px;
            top: 15px;
            @include md{
                display: block;
            }
            i,
            svg{
                color: #fff;
            }
        }
        .logo{
            display: block;
            padding: 30px 25px 35px;
            @include md{
                padding: 50px 25px 35px;
            }
        }
    }
}

.sidebar-nav{
    .sidebar-nav__item{
        font-size: .6875rem;
        padding: 5px 30px;
        letter-spacing: .05em;
        pointer-events: none;
        font-weight: 700;
        text-transform: uppercase;
        @extend .color-light-gray;
    }
    .sidebar-nav__link{
        display: flex;
        align-items: center;
        padding: 10px 35px;
        font-size: .9375rem;
        @extend .color-light-gray;
        &:hover{
            @extend .color-white;
        }
        i,
        svg{
            font-size: 20px;
            margin-right: 12px;
        }
        &.active{
            @extend .color-white;
        }
    }
}